<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="helloMybatis.UserMapper">
<!--select中的ID对应方法的名字-->
    <select id="getUserList" resultType="helloMybatis.User">
        select * from mybatis.user
    </select>
    <select id="getUserById" resultType="helloMybatis.User">
        select * from mybatis.user where id = #{id}
    </select>
    <insert id="addUser" parameterType="helloMybatis.User">
        insert into mybatis.user(id, name, pwd) VALUES (#{id}, #{name}, #{pwd})
    </insert>
    <update id="updateUser" parameterType="helloMybatis.User">
        update mybatis.user set name = #{name},pwd = #{pwd} where id = #{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from mybatis.user where id = #{id}
    </delete>
        <update id="updateNameByName" parameterType="map">
        update user set name = '张三'  where name = #{name};
    </update>
    <select id="addUserList" resultMap="userMapper">
        select id '主键', name '用户名', pwd '密码' from user;
    </select>
    <resultMap id="userMapper" type="helloMybatis.User">
        <result property="id" column="主键"/>
        <result property="name" column="用户名"/>
        <result property="pwd" column="密码"/>
    </resultMap>
    
</mapper>